*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
fieldset {
    width:35vw;
    padding:1.5%;
}
fieldset input {
    padding:1%;
}
div button {
    width: 5vw;
    padding:1%;
    margin-right: 5%;
}
div{
    margin-top: 3%;
}